<div>
    <span>Need a teamplayer? <em>Here what my colleagues said about me</em> </span>

    <div class="ref-container">
        <div>
            <img src="">
            <h4>Alexander Winkler</h4>
            <p>Project<span>Join</span></p>
            <p>
                " I had the pleasure of working in a team with him.
                He was always competent, helpful and full of ideas: a great collaboration! "
            </p>
        </div>
        <div>
            <img src="">
            <h4>Francisco Naranjo</h4>
            <p>Team Partner<span>Developer Akademie</span></p>
            <p>
                "He is a great team player. I was fortunate to
                work with him on a complex project, where he simplified and refined the code
                for smooth execution."
            </p>
        </div>
    </div>

</div>