div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1920px;
    margin-top: 56px;
    gap: 56px;

    >span {
        font-family: 'josefin sans';
        font-size: 2rem;
        color: #89BCD9;

        >em {
            font-style: normal;
        }
    }
}

.ref-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 96%;
    max-width: 1750px;
    gap: 2em;
    margin: 0px;
    font-family: 'josefin sans';
    color: #F8F5EC;
    overflow-x: auto;
    overflow-y: hidden;

    >.each-comment {
        Width: 378px;
        Height: 383px;
        margin: 0px;
        font-size: 1.125rem;
        gap: 1.2em;
        background: url("../../assets/Images/referanceShape.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0 18px;

        >h4 {
            margin: 0px;
            font-size: 1.62rem;
        }

        >p {
            margin: 0px;
            word-wrap: break-word;
            width: 18em;
            text-align: center;

            >span {
                color: #89BCD9;
                margin: 0em 0.4em;
            }

            >b {
                color: #89BCD9;
            }
        }

        &:hover {
            background: url("../../assets/Images/referanceShapeHover.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            padding: 0 18px;
        }
    }
}

.ref-container::-webkit-scrollbar {
    display: none;
}

@media (max-width: 965px) {

    div {
        span {
            font-size: 1.8rem;
        }
    }

    .ref-container {
        gap: 4.2em;

        >div {
            font-size: 1rem;

            >img {
                width: 20em;
                margin: 0;

                &:hover {
                    width: 22em;
                    margin-left: 0em;
                }
            }

            >h4 {
                font-size: 1.42rem;
            }

            >p {
                >span {
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (max-width: 885px) {

    .ref-container {
        gap: 1em;
    }

    div {
        >span {
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 835px) {

    .ref-container {
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: flex-start;

        >div {
            position: relative;
        }

    }


    ::-webkit-scrollbar {
        display: none;
    }

}

@media (max-width: 788px) {

    .ref-container {
        gap: 0;
    }

}

@media (max-width: 760px) {

    div {
        >span {
            font-size: 1.4rem;
            text-align: center;
        }
    }

    .ref-container {
        width: 80%;
        padding: 0% 10%;
        gap: 4.2em;
    }
}

@media (max-width: 420px) {

    div {
        >span {
            display: flex;
            flex-direction: column;
            font-family: 'anta';
            font-size: 2rem;
            line-height: 1em;

            >em {
                color: #F8F5EC;
                font-size: 1rem;
                font-family: 'josefin sans';
            }
        }
    }

}