<div>
    @if ( VariableSerivce.deutsch) {
    <span>Einen Teamplayer? <em>So beschreiben mich meine Kollegen:</em> </span>
    }
    @else {
    <span>Need a teamplayer? <em>Here what my colleagues said about me</em> </span>
    }

    <div class="ref-container">
        <div class="each-comment">
            <h4>Alexander Winkler</h4>
            <p>Project<span>Join</span></p>
            @if ( VariableSerivce.deutsch) {
            <p>
                "Ich hatte das Vergnügen, im Team mit ihm zusammenzuarbeiten.
                Er war stets kompetent, hilfsbereit und voller Ideen, eine großartige Zusammenarbeit!"
            </p>
            } @else {
            <p>
                " I had the pleasure of working in a team with him.
                He was always competent, helpful and full of ideas: a great collaboration! "
            </p>
            }
        </div>
        <div class="each-comment">
            <h4>Simon Heistermann</h4>
            <p>Project<span>DABubble</span></p>
            @if ( VariableSerivce.deutsch) {
            <p>
                "Singh verbindet Ruhe und Zielstrebigkeit auf bemerkenswerte Weise. Durch sein aufmerksames
                Zuhören und gezielte Fragen schafft er eine offene, produktive Zusammenarbeit und verfolgt
                konsequent seine Ziele."
            </p>
            } @else {
            <p>
                "Singh combines calmness and determination in an impressive way. His attentive listening and
                thoughtful questions foster open, productive teamwork while he stays focused on achieving his goals."
            </p>
            }
        </div>
        <div class="each-comment">
            <h4>Xin Yang</h4>
            <p>Project<span>DABubble</span></p>
            @if ( VariableSerivce.deutsch) {
            <p>
                "Die Zusammenarbeit mit Singh zeigt, wie wirkungsvoll Ruhe und Zielstrebigkeit ein Projekt prägen.
                Er begegnet Herausforderungen mit Bedacht, bleibt fokussiert auf die Ziele und motiviert das Team durch
                seine konstruktive Art."
            </p>
            } @else {
            <p>
                "Working with Singh shows how effectively calmness and determination shape a project. He handles
                challenges thoughtfully,
                stays focused on the goals, and motivates the team through his constructive approach."
            </p>
            }
        </div>
        <div class="each-comment">
            <h4>Francisco Naranjo</h4>
            <p>Team Partner<span>Developer Akademie</span></p>
            @if ( VariableSerivce.deutsch) {
            <p>
                "Er ist ein toller Teamplayer. In einem komplexen
                Projekt hat er den Code vereinfacht und für reibungslose
                Abläufe gesorgt."
            </p>
            } @else {
            <p>
                "He is a great team player. I was fortunate to
                work with him on a complex project, where he simplified and refined the code
                for smooth execution."
            </p>
            }
        </div>
    </div>

</div>