<div class="main-container">
    <div class="left-part">
        @if ( VariableService.deutsch) {
        <a href="legal-notice" target="_blank">Impressum</a>
        } @else {
        <a href="legal-notice" target="_blank">Legal notice</a>
        }
        <p>© Gagandeep Singh 2025 </p>
    </div>

    <div class="self-logo" style="width: 52px !important;">
        <img src="./assets/Images/LogoIconDark.png">
        <span>G.Singh</span>
        <sub>developer</sub>
    </div>

    <div class="right-part">
        <a href="https://github.com/singhGagandeep86/El-Pollo-Loco" target="_blank" class="github-btn"></a>
        <a [href]="emailString"></a>
        <a href="https://www.linkedin.com/feed/?trk=onboarding-landing" target="_blank" class="linked-btn"></a>


    </div>

</div>