.main-container {
    background-color: #89BCD9;
    padding: 4em 0em;
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.left-part {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: 'josefin sans';
    font-size: 1.125rem;
    color: #262E34;

    >a {
        color: #262E34;
        text-decoration: none;

        &:hover {
            color: #ffffff;
            transition: 0.35s;
        }
    }

    >p {
        margin: 0px;
    }
}

.right-part {
    display: flex;
    flex-direction: row;
    gap: 16px;

    :nth-child(1) {
        width: 30px;
        height: 30px;
        background: url("../../assets/Images/gitDark.png");
        background-repeat: no-repeat;

        &:hover {
            cursor: pointer;
            background: url("../../assets/Images/gitDarkhvrd.png");
            transition: 0.35s;
        }
    }

    :nth-child(2) {
        width: 30px;
        height: 30px;
        background: url("../../assets/Images/mailDark.png");
        background-repeat: no-repeat;

        &:hover {
            cursor: pointer;
            background: url("../../assets/Images/mailDarkhvrd.png");
            transition: 0.35s;
        }
    }

    :nth-child(3) {
        width: 30px;
        height: 30px;
        background: url("../../assets/Images/linkedinDark.png");
        background-repeat: no-repeat;

        &:hover {
            cursor: pointer;
            background: url("../../assets/Images/linkedinDarkhvrd.png");
            transition: 0.35s;
        }
    }
}

@media (max-width: 696px) {
    .main-container {
        flex-direction: column;
        gap: 2em;
        padding: 2em 0em;
    }

    .left-part {
        flex-direction: row;
        order: 2;
        width: 100%;
        justify-content: space-evenly;
    }

    .right-part {
        order: 1;
    }

    .self-logo {
        order: -1;
    }
}

@media (max-width: 420px) {

    .left-part {
        font-size: .8rem;
    }
}