
<div>
<h1>Why me</h1>

<div class="short-detail">
    <div class="lft-prt">
        <div><img src="./assets/Images/locIcon.png"><span>I am </span> located in Munich</div>
        <div><img src="./assets/Images/remote.png"><span>I am </span> open to remote work</div>
        <div><img src="./assets/Images/Challenges.png"><span>I am </span> open to new Challenges</div>
    </div>
    <div class="rght-prt">
        I am motivated to continuously <br> learn new technologies and develop myself. 
        My ability to solve complex problems and my passion for programming make 
        me a valuable member for your team.
        <div class="talk-btn"></div>
    </div>

</div>

</div>