div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.short-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    overflow-x: hidden;
}

.lft-prt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    max-width: 60%;
    width: 34em;

    >div {
        display: flex;
        flex-direction: row;
        margin-right: 52px;
        font-family: 'Josefin Sans';
        font-size: 1.87rem;

        >img {
            opacity: 0;
        }

        >P {
            overflow: hidden;
            white-space: pre;
            margin: 0 auto;
            text-align: left;
            width: 0;

            >span {
                color: #89BCD9;
                margin-left: 1em;
            }
        }
    }

    >:nth-child(3) {
        >img {
            width: 74px;
            height: 62px;
        }
    }
}

.animation {
    animation:
        typing 1800ms steps(35, end) forwards;
}

@keyframes typing {
    from {
        width: 0;
        white-space: pre;
    }

    to {
        width: 100%;
        white-space: pre;
    }
}

.rght-prt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 40%;
    width: 23em;
    height: 250px;

    >p {
        font-family: 'josefin sans';
        font-size: 1.12rem;
        text-align: left;
    }
}

.talk-btn {
    width: 134px;
    height: 48px;
    background: url("../../assets/Images/buttonTalk.png");
    opacity: 0;

    &:hover {
        cursor: pointer;
        background: url("../../assets/Images/btnTlkHvr.png");
        transition: 0.35s;
    }
}


@media (max-width: 1065px) {
    .short-detail {
        width: 90%;
    }

    .lft-prt {
        >div {
            font-size: 1.67rem;

            >p {
                >span {
                    margin-left: 0.8em;
                }
            }
        }
    }
}

@media (max-width: 945px) {
    .lft-prt {
        >div {

            >img {
                width: 3.5em;
            }

            font-size: 1.35rem;

            >p {
                >span {
                    margin-left: 0.2em;
                }
            }
        }
    }
}

@media (max-width: 752px) {

    .short-detail {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .lft-prt {
        max-width: 100%;
        width: auto;

        >div {
            font-size: 1.15rem;
            margin: 0;
        }
    }

    .rght-prt {
        max-width: 100%;
        width: 28em;
        align-items: center;

        >p {
            text-align: center;
        }
    }
}

@media (max-width: 420px) {

    .lft-prt {
        >div {
            font-size: 1rem;
        }
    }


    .rght-prt {
        height: auto;
        width: 18em;

        >a {
            display: none;
        }

        >p {
            font-size: 1rem;
        }
    }
}