<div>
    <h1>Why me</h1>

    <div #aboutMe class="short-detail">
        <div class="lft-prt">
            <div><img src="./assets/Images/locIcon.png">
                <p #ptag><span>I am </span> located in Munich</p>
            </div>
            <div><img src="./assets/Images/remote.png">
                <p #ptag2><span>I am </span> open to remote work</p>
            </div>
            <div><img src="./assets/Images/Challenges.png">
                <p #ptag3><span>I am </span> open to new Challenges</p>
            </div>
        </div>
        <div class="rght-prt">
            <p>
                I am motivated to continuously learn new technologies and develop myself. My ability
                to solve complex problems and my passion for programming make me a valuable member
                for your team.
            </p>

            <a #talkButton href="#contact" class="talk-btn"></a>
        </div>

    </div>

</div>