div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.short-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.lft-prt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    width: 34em;

    >div {
        display: flex;
        flex-direction: row;
        margin-right: 52px;
        font-family: 'Josefin Sans';
        font-Size: 30px;

        >img{
            opacity: 0;
        }

        >P {
            overflow: hidden;
            white-space: pre;
            margin: 0 auto;
            text-align: left;
            width: 0;

            >span {
                color: #89BCD9;
                margin-left: 1em;
            }
        }
    }

    >:nth-child(3) {
        >img {
            width: 74px;
            height: 62px;
        }
    }
}

.animation {
    animation:
        typing 1800ms steps(35, end) forwards;
}

@keyframes typing {
    from {
        width: 0;
        white-space: pre;
    }

    to {
        width: 100%;
        white-space: pre;
    }
}

.rght-prt {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 379px;
    height: 250px;

    >p {
        font-family: 'josefin sans';
        font-size: 18px;
        text-align: left;
    }
}

.talk-btn {
    width: 134px;
    height: 48px;
    background: url("../../assets/Images/buttonTalk.png");
    opacity: 0;

    &:hover {
        cursor: pointer;
        background: url("../../assets/Images/btnTlkHvr.png");
        transition: 0.35s;
    }
}