<div>

    @if ( VariableService.deutsch ) {
    <h1>Fähigkeiten</h1>
    } @else {
    <h1>My Skills</h1>
    }

    <div class="skill-container">
        <div class="skill-icons">
            <div class="icon"><img src="./assets/Images/HTML.png">HTML</div>
            <div class="icon"><img src="./assets/Images/JavaScript.png">JavaScript</div>
            <div class="icon"><img src="./assets/Images/CSS.png">CSS</div>
            <div class="icon"><img src="./assets/Images/Angular.png">Angular</div>
            <div class="icon"><img src="./assets/Images/TypeScript.png">TypeScript</div>
            <div class="icon"><img src="./assets/Images/Rest-Api.png">Rest-Api</div>
            <div class="icon"><img src="./assets/Images/Firebase.png">Firebase</div>
            <div class="icon"><img src="./assets/Images/GIT.png">GIT</div>
            <div class="icon"><img src="./assets/Images/MaterialDesign.png">Material Design</div>
            <div class="icon"><img src="./assets/Images/Scrum.png">Scrum</div>
        </div>

        @if ( VariableService.deutsch ) {
        <span>Ich lerne derzeit</span>
        } @else {
        <span>I am current learning</span>
        }

        <div class="upgrading">
            <img src="">
            @if ( VariableService.deutsch ) {
            <span>Ich lerne derzeit</span>
            } @else {
            <span>I am current learning</span>
            }
            <div>
                <img src="./assets/Images/React.png">
                <img src="./assets/Images/Vuejs.png">
            </div>

            @if ( VariableService.deutsch ) {
            <p>
                Motiviert zu bleiben, um meine IT-Kenntnisse zu erweitern, braucht Strategie,
                Neugier und den Willen zum lebenslangen Lernen.
            </p>
            } @else {
            <p>
                Staying motivated to expand my IT skills requires a strategic approach,
                a curious mindset, and a commitment to lifelong learning.
            </p>
            }

        </div>
    </div>

    @if (VariableService.deutsch) {
        <a #talkButton href="#contact" class="talk-btn btn-opt">Kontakt aufnehmen</a>
        }
        @else{
        <a #talkButton href="#contact" class="talk-btn"> Let's talk </a>
        }

</div>