@import '../../app/about-me/about-me.component.scss';

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    >a {
        opacity: 0;
    }

}

.skill-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    min-height: 24.75em;
    gap: 4.93em;

    >span {
        display: none;
        text-align: center;
        font-family: "josefin sans";
        font-size: 1.2rem;
        color: #89BCD9;
    }
}

.skill-icons {
    display: flex;
    flex-direction: row;
    gap: 49px;
    flex-wrap: wrap;
    width: 50%;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 62px;
    height: 80px;
    font-family: 'josefin sans';
    font-size: 1rem;
    color: #89BCD9;
    text-align: center;

    >img {
        width: 49px;
        height: 49px;
        margin-bottom: 1em;
    }
}

.upgrading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28%;
    text-align: center;
    font-family: 'josefin sans';
    font-size: 18px;
    gap: 16px;

    >img {
        position: absolute;
        content: url("../../assets/Images/referanceShape.png");
        margin-left: 1.5em;

        &:hover {
            position: absolute;
            animation: fadeIn 2s;
            -webkit-animation: fadeIn 2s;
            content: url("../../assets/Images/refShapeHvr.png");

            @keyframes fadeIn {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @-webkit-keyframes fadeIn {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

        }
    }

    >p {
        width: 14em;
        margin: 0px;
    }

    >div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
    }

}

@media (max-width: 1432px) {
    .upgrading {

        >img {
            margin-left: 0;
            width: 18em;
        }
    }
}

@media (max-width: 1362px) {
    .skill-icons {
        justify-content: flex-start;
    }

}

@media (max-width: 1180px) {

    .skill-container {
        width: 90%;
    }

    .skill-icons {
        justify-content: flex-start;
        gap: 58px;
    }

}

@media (max-width: 1080px) {

    .upgrading {
        >img {
            width: 16em;
        }
    }
}

@media (max-width: 1040px) {
    .skill-icons {
        gap: 2.9em;
    }
}

@media (max-width: 960px) {
    .skill-icons {
        gap: 2.7em;
    }

    .icon {
        >img {
            width: 45px;
            height: 46px;
        }
    }

    .upgrading {
        font-size: 1rem;

        >img {
            width: 18em;
        }
    }
}

@media (max-width: 928px) {

    .skill-icons {
        gap: 2.5em;
        width: 23.21em;
    }

    .icon {

        >img {
            width: 43px;
            height: 44px;
        }
    }

    .skill-container {
        width: 80%;
    }

    .upgrading {
        font-size: 1rem;
    }

}

@media (max-width: 850px) {

    .upgrading {

        >img {
            width: 18em;
            margin-left: 1em;
        }
    }

}

@media (max-width: 752px) {
    .skill-container {
        flex-direction: column;
        gap: 5.82em;
    }

    .skill-icons {
        justify-content: center;
    }
}

@media (max-width: 420px) {

    div {
        >a {
            opacity: 1;
            margin-top: 3.5em;
        }
    }

    .skill-container {

        width: 92%;
        gap: 3.85em;

        >span {
            display: block;
        }
    }

    .skill-icons {
        gap: 2em;
        width: 19em;
    }

    .upgrading {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-around;

        >span {
            display: none;
        }

        >div {
            gap: 1em;
            width: auto;
        }

        >img {
            width: 10em;
            right: 8px;
        }

        >p {
            width: 10em;
        }
    }
}

@media (max-width: 358px) {

    .upgrading {
        >img {
            width: 7em;
        }
    }
}