@import '../../app/about-me/about-me.component.scss';

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.skill-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 24.75em;
    gap: 4.93em;

    >span {
        display: none;
        text-align: center;
        font-family: "josefin sans";
        font-size: 1.2rem;
        color: #89BCD9;
    }
}

.skill-icons {
    display: flex;
    flex-direction: row;
    gap: 49px;
    flex-wrap: wrap;
    width: 25.56em;
}

.upgrading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    text-align: center;
    font-family: 'josefin sans';
    font-size: 18px;
    gap: 16px;

    >img {
        position: absolute;
        content: url("../../assets/Images/referanceShape.png");
        margin-left: 1.5em;

        &:hover {
            position: absolute;
            animation: fadeIn 2s;
            -webkit-animation: fadeIn 2s;
            content: url("../../assets/Images/refShapeHvr.png");

            @keyframes fadeIn {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

            @-webkit-keyframes fadeIn {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 1;
                }
            }

        }
    }

    >p {
        width: 14em;
        margin: 0px;
    }

    >div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

}

@media (max-width: 1040px) {
    .skill-icons {
        gap: 2.9em;

        >img {
            width: 3.1em;
        }
    }
}

@media (max-width: 960px) {
    .skill-icons {
        gap: 2.7em;

        >img {
            width: 3em;
        }
    }

    .upgrading {
        font-size: 1rem;

        >img {
            width: 25em;

            &:hover {
                width: 20em;
            }
        }
    }
}

@media (max-width: 928px) {

    .skill-icons {
        gap: 2.5em;
        width: 23.21em;

        >img {
            width: 2.8em;
        }
    }

    .skill-container {
        gap: 3.85em;
    }

    .upgrading {
        font-size: 0.92rem;

        >img {
            width: 23em;

            &:hover {
                width: 20em;
            }
        }
    }

}

@media (max-width: 850px) {

    .upgrading {
        font-size: 0.86rem;

        >img {
            width: 21em;
            margin-left: 1em;
        }
    }

}

@media (max-width: 752px) {
    .skill-container {
        flex-direction: column;
        gap: 5.82em;
    }

    .skill-icons {
        justify-content: center;
    }
}

@media (max-width: 420px) {

    div {
        >a {
            opacity: 1;
            margin-top: 3.5em;
        }
    }

    .skill-container {

        gap: 3.85em;

        >span {
            display: block;
        }
    }

    .skill-icons {
        gap: 2em;
        width: 19em;
    }

    .upgrading {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-around;

        >span {
            display: none;
        }

        >div {
            gap: 1em;
            width: auto;
        }

        >img {
            width: 10em;
            right: 0;

            &:hover {
                width: 8.5em;
                right: 1.5em;
            }
        }

        >p {
            width: 10em;
        }
    }
}