<div>
    <h1>My Skills</h1>

    <div class="skill-container">
        <div class="skill-icons">
            <img src="./assets/Images/HTML.png">
            <img src="./assets/Images/JavaScript.png">
            <img src="./assets/Images/CSS.png">
            <img src="./assets/Images/Angular.png">
            <img src="./assets/Images/TypeScript.png">
            <img src="./assets/Images/Rest-Api.png">
            <img src="./assets/Images/Firebase.png">
            <img src="./assets/Images/GIT.png">
            <img src="./assets/Images/MaterialDesign.png">
            <img src="./assets/Images/Scrum.png">

        </div>

        <div class="upgrading">
            <img src="">
            <span>I am current learning</span>
            <div>
                <img src="./assets/Images/React.png">
                <img src="./assets/Images/Vuejs.png">
            </div>
            <p>
                Staying motivated to expand my IT skills requires a strategic approach,
                a curious mindset, and a commitment to lifelong learning.
            </p>
        </div>
    </div>


</div>