<div>
    <div class="prof-link">
        <div class="mail-btn"></div>
        <div class="github-btn"></div>
        <div class="linked-btn"></div>
    </div>
    <div class="pic-part">
        <img class="profilePic" src="./assets/Images/ProfilePic.png">
    </div>
    <div class="head-part">
        <div class="self-logo">
            <img src="./assets/Images/LogoIcon.png">
            <span>G.Singh</span>
            <p>developer</p>
        </div>
        <span>Gagandeep Singh</span>
        <p>FRONTEND DEVELOPER</p>
        <div class="scroller" (click)="scrollDown()"></div>
    </div>

</div>
