div {
    display: flex;
    margin-top: 34px;
}

.pic-part {
    width: 616px;
    height: 690px;
    background: url("../../assets/Images/PicCanvasHover.png");
    background-repeat: no-repeat;
    transition: .65s ease;

    &:hover {
        cursor: pointer;
        background: url("../../assets/Images/PicCanvas.png");
        background-repeat: no-repeat;
        transition: .65s ease;
    }
}

.head-part {
    display: flex;
    flex-direction: column;
    align-items: center;

    >span {
        font-size: 88px;
        font-family: 'anta';
        margin-top: 121px;
    }

    >p {
        font-family: 'josefin sans';
        font-size: 40px;
    }
}

.background {
    position: absolute;
    width: 580.28px;
    height: 609.91px;
}

.profilePic {
    width: 566px;
    height: 610px;
    margin-left: 14px;
    margin-top: 22px;
}

.prof-link {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    left: 1182px;
    gap: 16px;
}

.mail-btn {
    background: url("./../../assets/Images/EmailButton.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0;

    &:hover {
        background: url("./../../assets/Images/MailHvr.png");
        transition: 0.35s;
        cursor: pointer;
    }
}

.github-btn {
    background: url("./../../assets/Images/GithubButton.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0;

    &:hover {
        background: url("./../../assets/Images/GHubHvr.png");
        transition: 0.35s;
        cursor: pointer;
    }
}

.linked-btn {
    background: url("./../../assets/Images/LinkedinButton.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0;

    &:hover {
        background: url("./../../assets/Images/LnkendHvr.png");
        transition: 0.35s;
        cursor: pointer;
    }
}
