<div class="main-container">
    <div>
        <div class="overlay">
            <div class="self-logo">
                <img src="./assets/Images/LogoIcon.png">
                <img class="brackets" src="./assets/Images/Bracket.png">
                <span>G.Singh</span>
                <p>developer</p>
            </div>
            <img #toggleIcon class="toggle-icon" (click)="toggleMenu()">
        </div>

        <div #mobileNav class="mobile-nav">
            @if ( VariableService.deutsch ) {
                <a href="#aboutMe" >Uber mich</a>
                <a href="#mySkills" >Fähigkeitem</a>
                <a href="#projects" >Projekt</a>
                <a href="#contact"> Kontakt</a>
            }
            @else {
                <a href="#aboutMe">Why me</a>
                <a href="#mySkills">Skills</a>
                <a href="#projects">Projects</a>
                <a href="#contact">Contact</a>
            }
        
            <div class="lang-box">
                <a href="#" (click)="tabClicked('german')" [ngClass]="VariableService.deutsch ? 'lang-selected' : ''">DE</a>
                <a href="#" (click)="tabClicked('english')" [ngClass]="VariableService.english ? 'lang-selected' : ''">EN</a>
            </div>

            <img src="./assets/Images/mobileNav.png">
        </div>

        <div class="pic-part" #picPart>
            <img class="profilePic" src="./assets/Images/ProfilePic.png">
        </div>
        <div class="head-part">

            <div>
                <div class="social-links">
                    <a [href]="emailString" class="mail-btn"></a>
                    <a href="https://github.com/singhGagandeep86" target="_blank" class="github-btn"></a>
                    <a href="https://www.linkedin.com/in/gagandeep-singh-a17b14352/" target="_blank" class="linked-btn"></a>
                </div>
                <div class="self-logo">
                    <img src="./assets/Images/LogoIcon.png">
                    <img class="brackets" src="./assets/Images/Bracket.png">
                    <span>G.Singh</span>
                    <p>developer</p>
                </div>

            </div>

            <span>Gagandeep Singh</span>
            <p>FRONTEND DEVELOPER</p>
            <a href="#aboutMe" class="scroller"></a>
        </div>
    </div>
</div>