@import url('../../app/nav-bar/nav-bar.component.scss');

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 104px);
    width: 100%;
    max-width: 1920px;

    >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 95%;
        gap: 2%;
    }
}

.brackets {
    position: absolute;
    margin-left: 4px;
    margin-top: 3px;
}

.overlay {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.toggle-icon{
    cursor: pointer;
    content: url("../../assets/Images/menuBtn.png");
}

.toggle-icon-clicked{
    content: url('../../assets/Images/mobileMenuClosed.png');
}

.mobile-nav {
    display: none;
}

.pic-part {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../../assets/Images/PicCanvasHover.png");
    background-repeat: no-repeat;
    transition: .65s ease;
    background-size: contain;
    width: 45%;
    height: auto;
    max-height: 41em;


    &:hover {
        cursor: pointer;
        background: url("../../assets/Images/PicCanvas.png");
        background-repeat: no-repeat;
        transition: .65s ease;
        background-size: contain;
    }
}

.head-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 54%;

    >div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 20%;
        width: 100%;
    }

    >span {
        font-size: 4rem;
        font-family: 'anta';
        width: 100%;
        text-align: center;
    }

    >p {
        font-family: 'josefin sans';
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
    }
}

.background {
    position: absolute;
    width: 580.28px;
    height: 609.91px;
}

.profilePic {
    width: 100%;
    height: auto;
    max-height: 41em;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 65%;
    gap: 16px;
}

.mail-btn {
    background: url("./../../assets/Images/EmailButton.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0;

    &:hover {
        background: url("./../../assets/Images/MailHvr.png");
        transition: 0.35s;
        cursor: pointer;
    }
}

.github-btn {
    background: url("./../../assets/Images/GithubButton.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0;

    &:hover {
        background: url("./../../assets/Images/GHubHvr.png");
        transition: 0.35s;
        cursor: pointer;
    }
}

.linked-btn {
    background: url("./../../assets/Images/LinkedinButton.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0;

    &:hover {
        background: url("./../../assets/Images/LnkendHvr.png");
        transition: 0.35s;
        cursor: pointer;
    }
}


@media (max-width: 1145px) {

    .head-part {
        >span {
            font-size: 3rem;
        }

        >p {
            font-size: 2rem;
        }
    }
}

@media (max-width: 865px) {

    .head-part {
        >span {
            font-size: 2.6rem;
        }

        >p {
            font-size: 1.6rem;
        }
    }

}

@media (max-width: 752px) {

    .main-container {

        height: auto;
        margin: 10% 0%;

        >div {
            flex-direction: column;
            gap: 4em;
        }
    }

    .pic-part {
        width: 21.5em;
    }

    .overlay {
        display: flex;
    }

    .mobile-nav {
        height: 22em;
        background-repeat: no-repeat;
        background-size: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        >a {
            text-decoration: none;
            color: #262E34;
            font-family: 'josefin sans';
            font-size: 1.37rem;
            z-index: 100;

            &:hover {
                color: #ffffff;
            }
        }

        .lang-box{
            z-index: 100;
        }

        >img{
            position: absolute;
        }
    }

    .head-part {

        width: 100%;

        >div {
            display: none;
        }
    }
}

@media (max-width: 435px){

    .mobile-nav{
        width: auto;
        height: auto;
        gap: 2em;
        justify-content: center;

        >img{
            width: 18em;
            height: 20em;
        }
    }
}


@media (max-width: 378px) {

    .head-part {
        >span {
            font-size: 2rem;
        }

        >p {
            font-size: 1.2rem;
        }
    }

    .pic-part {
        width: 100%;
    }
}