<div class="main-container">
    <div class="prof-link">
        <a [href]="emailString" class="mail-btn"></a>
        <a href="https://github.com/singhGagandeep86/El-Pollo-Loco" target="_blank" class="github-btn"></a>
        <a href="https://www.linkedin.com/feed/?trk=onboarding-landing" target="_blank" class="linked-btn"></a>
    </div>
    <div class="pic-part">
        <img class="profilePic" src="./assets/Images/ProfilePic.png">
    </div>
    <div class="head-part">
        <div class="self-logo">
            <img src="./assets/Images/LogoIcon.png">
            <img class="brackets" src="./assets/Images/Bracket.png">
            <span>G.Singh</span>
            <p>developer</p>
        </div>
        <span>Gagandeep Singh</span>
        <p>FRONTEND DEVELOPER</p>
        <!-- <div class="scroller" (click)="scrollDown()"></div> -->
         <a href="#aboutMe" class="scroller"></a>
    </div>

</div>
