<div class="main-container">

    <div>
        @if ( VariableService.deutsch) { <span>Kontakt aufnehmen</span> } @else { <span>Contact me</span> }

        <a href="#hero" class="scroller alternate"></a>
    </div>

    <div class="contacts">
        @if ( VariableService.deutsch) { <span>Lass uns zusammenarbeiten</span> } @else { <span>Let’s work
            together</span> }
        <div class="text">
            @if ( VariableService.deutsch) { <span>Lass uns zusammenarbeiten</span> } @else { <span>Let’s work
                together</span> }

            @if ( VariableService.deutsch) {
            <p>
                Kontaktiere mich über dieses Formular – ich freue mich darauf, von dir zu hören, deine Ideen
                kennenzulernen und mit meiner Arbeit zu deinen Projekten beizutragen.
                Du suchst einen Frontend-Entwickler? Lass uns sprechen!
            </p>
            }
            @else {
            <p>
                Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing
                to your projects with my work
                Need a Frontend developer? Let’s talk!
            </p>
            }

        </div>
        <div class="cntct-detail">
            <div><span></span>E-mail: <b>tech&#64;gagandeepsingh.de</b></div>
            <div><span></span>Tel: <b>01637052452</b></div>
        </div>
    </div>

    <form #form="ngForm" (ngSubmit)="toSubmit(contactForm)" #contactForm="ngForm">
        <div class="input-container">
            <div>
                @if ( VariableService.deutsch) {
                <p>Name </p><input #name="ngModel" (input)="detectKeyboard($event, 'name')" [(ngModel)]="contactData.name" name="first" type="text"
                    placeholder="Ihr Name" required>
                <p [ngStyle]="{'opacity': (!name.valid && mailKeyEnter) || (!name.valid && messageKeyEnter) || (!name.valid && check.checked) ? 1 : 0 , 'color': 'rgb(255, 0 , 0)'}">
                    Bitte geben Sie Ihren Namen ein </p>
                }
                @else {
                <p>Your name </p><input #name="ngModel" (input)="detectKeyboard($event, 'name')" [(ngModel)]="contactData.name" name="first" type="text"
                    placeholder="Your name" required>
                <p [ngStyle]="{'opacity': (!name.valid && mailKeyEnter) || (!name.valid && messageKeyEnter) || (!name.valid && check.checked) ? 1 : 0 , 'color': 'rgb(255, 0 , 0)'}">
                    Please enter your Name </p>
                }
            </div>
            <div>

                @if ( VariableService.deutsch) {
                <p>Email </p><input #mail="ngModel" (input)="detectKeyboard($event, 'mail')" [(ngModel)]="contactData.eMail" name="email" type="email"
                    placeholder="Ihre Email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                <p [ngStyle]="{'opacity': (!mail.valid && mailKeyEnter) || (!mail.valid && nameKeyEnter) || (!mail.valid && messageKeyEnter) || (!mail.valid && check.checked) 
                ? 1 : 0 , 'color': 'rgb(255, 0 , 0)'}"> Gültige E-Mail-Adresse erforderlich.</p>
                }
                @else {
                <p>Your Email </p><input #mail="ngModel" (input)="detectKeyboard($event, 'mail')" [(ngModel)]="contactData.eMail" name="email" type="email"
                    placeholder="Your Email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                <p [ngStyle]="{'opacity': (!mail.valid && mailKeyEnter) || (!mail.valid && nameKeyEnter) || (!mail.valid && messageKeyEnter) || (!mail.valid && check.checked) 
                ? 1 : 0 , 'color': 'rgb(255, 0 , 0)'}"> Please enter your valid Email </p>
                }
            </div>
        </div>

        <div class="message-container">
            @if ( VariableService.deutsch) {
            <p>Ihre Nachricht </p><textarea #message="ngModel" (input)="detectKeyboard($event, 'message')" [(ngModel)]="contactData.message" name="message"
                placeholder="Ihre Nachricht" type="text" rows="6" required></textarea>
            <p [ngStyle]="{'opacity': (!message.valid && mailKeyEnter) || (!message.valid && nameKeyEnter) || (!message.valid && check.checked) ? 1 : 0 , 'color': 'rgb(255, 0 , 0)'}">
                Bitte geben Sie Ihre Nachricht ein </p>
            }

            @else {
            <p>Your message </p><textarea #message="ngModel" (input)="detectKeyboard($event, 'message')" [(ngModel)]="contactData.message" name="message"
                placeholder="Your message" type="text" rows="6" required></textarea>
            <p [ngStyle]="{'opacity': (!message.valid && mailKeyEnter) || (!message.valid && nameKeyEnter) || (!message.valid && check.checked) ? 1 : 0 , 'color': 'rgb(255, 0 , 0)'}">
                Please enter your message </p>
            }
        </div>

        <div class="chk-btn">
            <div>
                <input #check type="checkbox" (click)="contactData.accepted = true"
                    name="check" id="check" required>
                <label for="check"></label>
                @if ( VariableService.deutsch) {
                <em>Ich habe die <a routerLink="/privacy" routerLinkActive="active"> Datenschutzerklärung</a>
                    gelesen und akzeptiert.
                </em>
                } @else {
                <em>I've read the <a routerLink="/privacy" routerLinkActive="active"> privacy policy</a>
                    and agree to the procession of my data as outlined.
                </em>
                }
            </div>
            @if ( VariableService.deutsch ) {
            <p [ngStyle]="{'opacity': !check.checked && contactForm.submitted ? 1 : 0 , 'color': 'rgb(255, 0 , 0)'}">
                Bitte stimme der Datenschutzerklärung zu</p>
            }
            @else {
            <p [ngStyle]="{'opacity': !check.checked && contactForm.submitted ? 1 : 0 , 'color': 'rgb(255, 0 , 0)'}">
                Please agree to privacy policy</p>
            }
        </div>
        <button [disabled]="!contactForm.valid"></button>

        <div #successMessage (click)="returnBack()" class="success-message">
            <div>
                @if ( VariableService.deutsch ) {
                    Vielen Dank fur Ihre Nachricht & aufmerksamkeit !!
                }
                @else {
                    Thanks for contacting me !!
                }
            </div>
          
        </div>

        <a href="#hero" class="scroller alternate"></a>

    </form>

</div>