<div class="main-container">
    <span>Contact me</span>

    <div class="scroller alternate" (click)="scrollUp()"></div>

    <div class="contacts">
        <div class="text">
            <span>Let’s work together</span>
            <p>
                Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing
                to your projects with my work
                Need a Frontend developer? Let’s talk!
            </p>
        </div>
        <div class="cntct-detail">
            <div><img src="./assets/Images/iconEmail.png">E-mail: <b>tech&#64;gagandeepsingh.de</b></div>
            <div><img src="./assets/Images/iconPhone.png">Tel: <b>01637052452</b></div>
        </div>
    </div>

    <form (ngSubmit)="toSubmit(contactForm)" #contactForm="ngForm">
        <div class="input-container">
            <div>

                <p>Your name </p><input #name="ngModel" [(ngModel)]="contactData.name" name="first" type="text"
                    required>
                <p [ngStyle]="{'opacity': !name.valid && contactForm.submitted ? 1 : 0 , 'color': 'rgb(255, 0 , 0)'}">
                    Please enter your Name</p>

            </div>
            <div>
                <p>Your Email </p><input #mail="ngModel" [(ngModel)]="contactData.eMail" name="email" type="email"
                    required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                <p [ngStyle]="{'opacity': !mail.valid && contactForm.submitted ? 1 : 0 , 'color': 'rgb(255, 0 , 0)'}">
                    Please enter your valid Email</p>

            </div>
        </div>

        <div class="message-container">
            <p>Your message </p><textarea #message="ngModel" [(ngModel)]="contactData.message" name="message"
                type="text" rows="6" required></textarea>
            <p [ngStyle]="{'opacity': !message.valid && contactForm.submitted ? 1 : 0 , 'color': 'rgb(255, 0 , 0)'}">
                Please
                enter your message</p>

        </div>

        <div class="chk-btn">
            <div>
                <input type="radio" [(ngModel)]="contactData.accepted" name="radio" id="radio" required>
                <label for="radio"><img src="./assets/Images/check.png"></label>
                I've read the <a href="">privacy policy</a> and agree to the processionof my data as outlined.
            </div>
        </div>
        <button></button>

    </form>

</div>