.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
    gap: 48px;

    >div {

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        >span {
            font-family: 'Anta';
            font-size: 54px;
            color: #89BCD9;
            margin: 0em 4em;
        }
    }

}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 36px;
    margin: 0px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'josefin sans';
    font-size: 16px;
    width: 429px;

    >span {
        font-size: 38px;
    }

    >em {
        color: #89BCD9;
        font-size: 28px;
    }

    >p {
        color: #ffffff;
        font-size: 18px;
    }
}

.cntct-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "josefin sans";
    font-size: 20px;
    gap: 22px;
    padding: 32px 0px;

    >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 18px;

        &:hover {
            cursor: pointer;
            color: #89BCD9;
            transition: 0.35s;
        }
    }

    :nth-child(1) {

        &:hover {
            img {
                content: url("../../assets/Images/iconEmailHvr.png");
            }

        }
    }

    :nth-child(2) {

        &:hover {
            img {
                content: url("../../assets/Images/iconPhoneHvr.png");
            }
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 910px;
    gap: 8px;
    font-family: 'josefin sans';
    font-size: 14px;
}


.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: #89BCD9;

    >div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8em;

        >p {
            padding-left: 1.5em;
            margin: 0;
        }

        >input {
            width: 82%;
            padding: 1.2em 2em;
            border: 1px solid #89BCD9;
            background: #89BCD91F;
            color: #ffffff;
            border-radius: 30px;
            font-size: 18px;
        }
    }
}

.message-container {

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 0.8em;
    color: #89BCD9;

    :nth-child(2) {
        height: 60px;
        width: 95%;
        height: 8em;
        border-radius: 30px;
        padding: 20px 18px;
        background-color: transparent;
        border: 1px solid #89BCD9;
        color: #ffffff;
        font-family: 'josefin sans';
        font-size: 18px;
        resize: none;
    }
}



.chk-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #F8F5EC;

        >input {
            opacity: 0;

            &:checked+label {
                content: url("../../assets/Images/checked.png");
            }
        }

        >label {
            margin-right: 0.3em;
            cursor: pointer;
            display: flex;
            flex-direction: row;

            &:hover {
                content: url("../../assets/Images/checkHover.png");
                transition: 0.35s ease;
            }
        }

        >a {
            margin: 0em 0.4em;
            text-decoration: none;
            color: #89BCD9;
        }

        >span {
            color: rgb(255, 0, 0);
            margin-left: 0.8em;
        }
    }
}

.alternate {
    transform: scale(-1, -1);
}

button {
    background: url("../../assets/Images/sendBtn.png");
    background-repeat: no-repeat;
    width: 115px !important;
    height: 53px;
    border: none;
    margin-left: 90%;
    margin-bottom: 56px;

    &:hover {
        cursor: pointer;
        background: url("../../assets/Images/sendBtnClicked.png");
        background-repeat: no-repeat;
        transition: 0.35s;
    }
}