.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5em;
    gap: 3em;
    width: 100%;

    >div {

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        >span {
            font-family: 'Anta';
            font-size: 3.375rem;
            color: #89BCD9;
            margin: 0em 4em;
        }
    }

}

.contacts {
    display: flex;
    flex-direction: row;
    gap: 2.25em;
    margin: 0em;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'josefin sans';
    width: 26.81em;

    >span {
        font-size: 2.375rem;
    }

    >em {
        color: #89BCD9;
        font-size: 1.75rem;
    }

    >p {
        color: #ffffff;
        font-size: 1.125rem;
    }
}

.cntct-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "josefin sans";
    font-size: 1.25rem;
    gap: 1.375em;
    padding: 32px 0px;

    >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.125em;

        &:hover {
            cursor: pointer;
            color: #89BCD9;
            transition: 0.35s;
        }
    }

    :nth-child(1) {

        &:hover {
            img {
                content: url("../../assets/Images/iconEmailHvr.png");
            }

        }
    }

    :nth-child(2) {

        &:hover {
            img {
                content: url("../../assets/Images/iconPhoneHvr.png");
            }
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 56.875em;
    gap: 8px;
    font-family: 'josefin sans';
    font-size: 0.875rem;
}


.input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    color: #89BCD9;

    >div {
        width: 47.2%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8em;

        >p {
            padding-left: 1.5em;
            margin: 0;
        }

        >input {
            width: 82%;
            padding: 1.2em 2em;
            border: 1px solid #89BCD9;
            background: #89BCD91F;
            color: #ffffff;
            border-radius: 30px;
            font-size: 1.125rem;
        }
    }
}

.message-container {

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 0.8em;
    color: #89BCD9;

    :nth-child(2) {
        height: 60px;
        width: 95%;
        height: 8em;
        border-radius: 30px;
        padding: 20px 18px;
        background-color: transparent;
        border: 1px solid #89BCD9;
        color: #ffffff;
        font-family: 'josefin sans';
        font-size: 1.125rem;
        resize: none;
    }
}



.chk-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #F8F5EC;

        >input {
            opacity: 0;

            &:checked+label {
                content: url("../../assets/Images/checked.png");
            }
        }

        >label {
            margin-right: 0.3em;
            cursor: pointer;
            display: flex;
            flex-direction: row;

            &:hover {
                content: url("../../assets/Images/checkHover.png");
                transition: 0.35s ease;
            }
        }

        >a {
            margin: 0em 0.4em;
            text-decoration: none;
            color: #89BCD9;
        }

        >span {
            color: rgb(255, 0, 0);
            margin-left: 0.8em;
        }
    }
}

.alternate {
    transform: scale(-1, -1);
}

button {
    background: url("../../assets/Images/sendBtn.png");
    background-repeat: no-repeat;
    width: 115px !important;
    height: 53px;
    border: none;
    margin-left: 90%;
    margin-bottom: 56px;

    &:hover {
        cursor: pointer;
        background: url("../../assets/Images/sendBtnClicked.png");
        background-repeat: no-repeat;
        transition: 0.35s;
    }
}

@media (max-width: 985px) {
    .contacts {
        gap: 0.85em;
    }
}

@media (max-width: 965px) {

    .text {
        width: 22.62em;

        >span {
            font-size: 1.95rem;
        }

        >p {
            font-size: 0.92rem;
        }
    }

    .cntct-detail {
        font-size: 1rem;
    }
}

@media (max-width: 846px) {

    .main-container {
        >div {
            >span {
                margin: 0em 3em;
            }
        }
    }

    form {
        width: 94%;
    }

    .input-container {
        gap: 1em;
    }

    .chk-btn {
        >div {
            >span {
                position: absolute;
                left: 4%;
                margin-top: 9%;
            }
        }
    }

}

@media (max-width: 752px) {

    .main-container {

        >div:nth-child(1) {
            flex-direction: column-reverse;
            align-items: center;
            gap: 6em;
        }
    }

    form {
        width: 90%;
    }
}

@media (max-width: 716px) {

    .main-container {
        >div {
            flex-direction: column;
            align-items: center;

            span {
                margin: 0em;
            }
        }
    }

    form {
        gap: 3em;
    }

    .input-container {
        flex-direction: column;
        align-items: center;
        gap: 3em;

        >div {
            width: 100%;
            align-items: center;

            >p:nth-child(1) {
                display: none;
            }

            >p:nth-child(3) {
                margin-right: auto;
            }

            >input {
                width: 88%;
            }
        }
    }

    .message-container {
        align-items: center;

        >p:nth-child(1) {
            display: none;
        }

        >p:nth-child(3) {
            margin-right: auto;
        }

    }
}