<div class="nav-bar">
    <div class="self-logo" style="width: 52px !important;">
        <img src="./assets/Images/LogoIconDark.png">
        <span>G.Singh</span>
        <sub>developer</sub>
    </div>

    <a href="#" id="aboutMe" (click)="tabClicked($event)" [ngClass]="aboutMeStatus ? 'clicked' : ''">Why me</a>
    <a href="#" id="mySkills" (click)="tabClicked($event)" [ngClass]="mySkillsStatus ? 'clicked' : ''">Skills</a>
    <a href="#" id="projects" (click)="tabClicked($event)" [ngClass]="projectsStatus ? 'clicked' : ''">Projects</a>
    <a href="#" id="contact" (click)="tabClicked($event)" [ngClass]="contactStatus ? 'clicked' : ''">Contact</a>

    <div class="lang-box">
        <a href="#" id="german" (click)="tabClicked($event)" [ngClass]="germanLangSelected ? 'lang-selected' : ''">DE</a>
        <a href="#" id="english" (click)="tabClicked($event)" [ngClass]="englishLangSelected ? 'lang-selected' : ''">EN</a>
    </div>

</div>