.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 104px;
    gap: 11em;
    background-color: #89BCD9;
    width: 100%;
    scroll-behavior: smooth;

    >a {
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'josefin sans';
        color: #262E34;
        text-decoration: none;
        font-size: 26px;

        &:hover {
            cursor: pointer;
            color: #ffffff;
        }
    }
}

.clicked{
    background: url("../../assets/Images/EllipseSelected.png");
    background-repeat: no-repeat;
    background-position: center;
}



.lang-box {
    display: flex;
    margin: 0;

    >a {
        font-family: 'josefin sans';
        color: #262E34;
        text-decoration: none;
        font-size: 18px;
        padding: 0.4em;

        &:hover {
            cursor: pointer;
            color: #ffffff;
            transition: 0.35s;
        }
    }

}

.lang-selected{
    background: url("../../assets/Images/EllipseSmallSec.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff !important;
}