.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12%;
    width: 100%;
    max-width: 1920px;
    height: 104px;
    background-color: #89BCD9;
    scroll-behavior: smooth;

    >a {
        height: 62px;
        min-width: 3.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'josefin sans';
        color: #262E34;
        text-decoration: none;
        font-size: 26px;

        &:hover {
            cursor: pointer;
            color: #ffffff;
        }
    }
}

.clicked {
    background: url("../../assets/Images/EllipseSelected.png");
    background-repeat: no-repeat;
    background-position: center;
}



.lang-box {
    display: flex;
    margin: 0;

    >a {
        font-family: 'josefin sans';
        color: #262E34;
        text-decoration: none;
        font-size: 18px;
        padding: 0.4em;

        &:hover {
            cursor: pointer;
            color: #ffffff;
            transition: 0.35s;
        }
    }

}

.lang-selected {
    background: url("../../assets/Images/EllipseSmallSec.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff !important;
}

@media (max-width: 1650px) {

    .nav-bar {
    gap: 10%;
    }
}

@media (max-width: 1390px) {

    .nav-bar {
    gap: 9.6%;
    }
}

@media (max-width: 1120px) {

    .nav-bar {
    gap: 8.4%;
    }
}

@media (max-width: 1060px) {

    .nav-bar {
    gap: 7.2%;
    }
}

@media (max-width: 920px) {

    .nav-bar {
       gap: 6%;

        >a {
            font-size: 24px;
        }
    }
}

@media (max-width: 752px) {

    .nav-bar {
        display: none;
    }
}