div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.project-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'josefin sans';
    font-size: 1.875rem;
    gap: 4em;
    width: 100%;


    >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #89BCD9;
        width: 8.48em;
        white-space: pre;

        &:hover {
            color: #ffffff;
            cursor: pointer;
        }

    }
}

.clicked {
    background-color: #89BCD912;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    color: #ffffff !important;
    padding: 34px 25px;
}

.project-detail {
    min-height: 38em;
    background-color: #89BCD912;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #F8F5EC;
    width: 55%;
    padding: 2em 4em 2em 8em;

    >h3 {
        font-family: 'josefin sans';
        font-size: 1.75em;
        margin: 0.3em 0em;
        display: flex;
        align-items: center;
        gap: 1.5em;

        >p {
            font-family: 'josefin sans';
            font-size: 18px;
        }

    }

    >p {
        font-family: 'josefin sans';
        font-size: 18px;
        margin: 0.2em 0em 1.8em 0em;
    }
}

.project-optics {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0em 8em 0em 3em;

    :nth-child(1) {
        display: flex;
        flex-direction: column;
        font-family: 'josefin sans';
        font-size: 18px;
        gap: 0.8em;

        >div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2em;

            >img {
                height: 4em;
            }
        }
    }

    >img {
        width: 410px;
        height: 282px;
        border-radius: 30px;
    }
}

.project-links, .project-links-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    >a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 30px;
        width: 120px;
        height: 48px;
        font-family: 'Josefin Sans';
        font-size: 18px;
    }

    :nth-child(1) {
        background-color: #89BCD9;
        color: #0A383F;

        &:hover {
            background-color: #F8F5EC;
        }
    }

    :nth-child(2) {
        background-color: none;
        border: 1px solid #89BCD9;
        color: #89BCD9;

        &:hover {
            background-color: #F8F5EC1F;

        }
    }
}

.project-links-mobile {
    display: none;
}

.mobile-version {
    display: none;
    font-family: 'josefin sans';

    >span {
        color: #89BCD9;
        font-size: 1.24rem;
    }

    >p {
        font-size: 0.89rem;
        color: #F8F5EC;
    }
}

.animate-proj-img {
    animation: from-right 0.9s ease-in-out forwards;
}

@keyframes from-right {
    0% {
        opacity: 0;
        transform: translateX(250%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-tech-img {
    animation: from-top 0.7s ease-in forwards;
}

@keyframes from-top {
    0% {
        opacity: 0;
        transform: translateY(-800%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-tech-title {
    animation: from-left 0.4s ease-in-out forwards;
}

@keyframes from-left {
    0% {
        opacity: 0;
        transform: translateX(-300%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-link-tabs {
    animation: from-bottom 0.2s ease-in forwards;
    animation-delay: 0.8s;
    opacity: 0;
}

@keyframes from-bottom {
    0% {
        opacity: 0;
        transform: translateY(200%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1396px) {
    .description {
        padding: 2em 3em;
    }

    .project-optics {
        padding: 0em 3em;
    }
}

@media (max-width: 1256px) {
    .description {
        padding: 2em 3em;
    }

    .project-optics {
        padding: 2em 2.5em;
    }
}


@media (max-width: 1210px) {

    .project-nav {
        gap: 2em;
    }

    .description {

        >h3 {
            font-size: 1.45rem;

            >p {
                font-size: 1rem;
            }
        }

        >p {
            font-size: 1rem;
        }
    }

    .project-optics {
        padding: 2em;

        >img {
            width: 92%;
            height: auto;
        }

        >:nth-child(1) {
            >div {
                >img {
                    height: 3.4em;
                }
            }
        }

        >:nth-child(3) {
            >a {
                font-size: 1rem;
                width: 98px;
                height: 40px;
            }
        }
    }
}

@media (max-width: 1026px) {
    .project-nav {
        gap: 1.6em;
        font-size: 1.62rem;
    }

    .description {
        padding: 2em;

        >h3 {
            >p {
                font-size: 0.88rem;
            }
        }
    }

    .project-optics {
        padding: 2em;
    }
}

@media (max-width: 995px) {

    .description,
    .project-optics {
        padding: 1.5em;

        >h3 {

            font-size: 1.25rem;

            >p {
                font-size: 0.89rem;
            }
        }
    }
}

@media (max-width: 865px) {

    .description,
    .project-optics {
        padding: 1em;

        >h3 {

            font-size: 1.10rem;

            >p {
                font-size: 0.89rem;
            }
        }

        >p {
            font-size: 0.8rem;
        }
    }
}

@media (max-width: 835px) {
    .project-nav {
        font-size: 1.48rem;
        gap: 1.2em;
    }
}


@media (max-width: 752px) {

    .project-nav {
        gap: 1.8em;
        font-size: 1.22rem;
    }

    .project-detail {
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .description {
        width: 90%;
        padding: 0;
    }

    .clicked {
        padding: 22px 8px
    }
}

@media (max-width: 620px) {

    .project-nav {
        gap: 0.4em;
    }

    .clicked {
        padding: 22px 2px;
    }
}

@media (max-width: 548px) {

    .project-nav {

        width: 98%;
        gap: 0;

        >div {

            font-size: 1.12rem;

            >span {
                font-size: 0;
            }

            >span::after {
                content: 'project';
                font-size: 1.12rem;
            }
        }
    }

    .description{
        >h3{
            >p{
                display: none;
            }
        }
    }

    .project-detail {
        padding: 2.35em 0em;
        border-bottom-right-radius: 1.87em;
        border-bottom-left-radius: 1.87em;
        gap: 1.2em;
    }

    .clicked {
        padding: 16px 0px;
    }



    .project-optics {

        width: 85%;
        padding: 0;

        >:nth-child(3), :nth-child(1) {
            display: none;
        }

    }

    .project-links {
        display: none;
    }

    .project-links-mobile {
        display: flex;
    }

    .mobile-version {
        display: block;
        width: 90%;
    }

    .animate-proj-img {
        animation: none;
    }

    .animate-link-tabs {
        animation: none;
        opacity: 1;
    }

}