<div>

    @if ( VariableService.deutsch ) {
    <h1>Meine Projekte</h1>
    } @else {
    <h1>My Projects</h1>
    }

    <div class="project-container">
        <div class="project-nav">

            @for (project of projects.projects; track $index) {
            <div (click)="selectProject($index, $event)" [ngClass]="clicked[$index] ? 'clicked' : ''">
                {{ $index + 1 }}. <span> @if ( VariableService.deutsch ){ {{ project.nameGerman }} } @else { {{ project.name }} }</span>
            </div>
            }
        </div>
        <div class="project-detail">

            <div class="project-links-mobile" #projectLinks>
                <a href="{{ projects.projectLink }}" target="_blank">Live Test</a>
                <a href="{{ projects.projectGithub }}" target="_blank">GitHub</a>
            </div>

            <div class="description">
                <h3><img src="./assets/Images/EllipseSmall.png">
                    @if ( VariableService.deutsch ){ Über das Projekt } @else { About the Project }
                    @if ( projects.projectDuration) {
                    <p> @if ( VariableService.deutsch ){ Dauer: {{ projects.projectDuration }} Wochen }
                        @else { Duration: {{ projects.projectDuration }} Weeks }</p>
                    }
                </h3>
                @if ( VariableService.deutsch ) { <p>{{ projects.projectDescriptionGerman }}</p> }
                @else { <p>{{ projects.projectDescription }}</p> }
                @if (projects.projectLearnProcess) {
                <h3><img src="./assets/Images/EllipseSmall.png">
                    @if ( VariableService.deutsch) { Mein Arbeitsprozess im Überblick }
                    @else { How I have organised my work process }
                </h3>
                <p>@if ( VariableService.deutsch){ {{ projects.projectLearnProcessGerman }} } @else { {{ projects.projectLearnProcess}} }</p>
                <h3><img src="./assets/Images/EllipseSmall.png">
                   @if ( VariableService.deutsch) { {{ projects.projectHeadingGerman }} }
                   @else { {{ projects.projectHeading}}}
                </h3>
                <p>@if ( VariableService.deutsch) { {{ projects.projectDetailsGerman }} } @else { {{ projects.projectDetails }} }</p>
                }
            </div>
            <div class="project-optics">
                <div>
                    @if ( VariableService.deutsch) {
                    <span #techTitle>Technologien</span>
                    }
                    @else {
                    <span #techTitle>Technologies</span>
                    }
                    <div #techIcons>
                        @for (img of projects.projectTechnologies; track projects.projectImage) {
                        <img src="./assets/Images/{{ img }}.png">
                        }
                    </div>
                </div>

                <img id="projScreen" #projScreen src="{{ projects.projectImage }}">

                <div class="project-links" #projectLinks>
                    <a href="{{ projects.projectLink }}" target="_blank">Live Test</a>
                    <a href="{{ projects.projectGithub }}" target="_blank">GitHub</a>
                </div>
            </div>

            <div class="mobile-version">
                <span>
                    {{ projects.projectName }}
                </span>
                <p> @if ( VariableService.deutsch ){ Technologien: } @else { Technologies: } {{
                    projects.projectTechnologies }}</p>
                <p> @if ( VariableService.deutsch ){ Dauer: {{ projects.projectDuration }} Wochen } @else { Duration: {{ projects.projectDuration }} Weeks }</p>
            </div>
        </div>

    </div>

</div>