div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'josefin sans';
    font-size: 30px;
    gap: 4em;
    padding: 0em 3.5em;

    >div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #89BCD9;
        min-width: 254px;

        &:hover {
            color: #ffffff;
            cursor: pointer;
        }

    }
}

.clicked {
    background-color: #89BCD912;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    color: #ffffff !important;
    padding: 34px 25px;
}

.project-detail {
    min-height: 38em;
    background-color: #89BCD912;
    display: flex;
    flex-direction: row;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #F8F5EC;
    width: 55%;
    padding: 2em 4em 2em 8em;

    >h3 {
        font-family: 'josefin sans';
        font-size: 1.75em;
        margin: 0.3em 0em;
        display: flex;
        align-items: center;
        gap: 1.5em;

        >p {
            font-family: 'josefin sans';
            font-size: 18px;
        }

    }

    >p {
        font-family: 'josefin sans';
        font-size: 18px;
        margin: 0.2em 0em 1.8em 0em;
    }
}

.project-optics {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0em 8em 0em 3em;

    :nth-child(1) {
        display: flex;
        flex-direction: column;
        font-family: 'josefin sans';
        font-size: 18px;
        gap: 0.8em;

        >div {
            display: flex;
            flex-direction: row;
            gap: 2em;

            >img {
                height: 4em;
            }
        }
    }

    >img {
        width: 410px;
        height: 282px;
        border-radius: 30px;
    }

    :nth-child(3) {
        display: flex;
        flex-direction: row;
        gap: 10px;

        >a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border-radius: 30px;
            width: 120px;
            height: 48px;
            font-family: 'Josefin Sans';
            font-size: 18px;
        }

        :nth-child(1) {
            background-color: #89BCD9;
            color: #0A383F;

            &:hover {
                background-color: #F8F5EC;
            }
        }

        :nth-child(2) {
            background-color: none;
            border: 1px solid #89BCD9;
            color: #89BCD9;

            &:hover {
                background-color: #F8F5EC1F;

            }
        }
    }
}

.animate-opacity {
    animation: opac 2.8s
}

@keyframes opac {
    10% {
        opacity: 0;
    }

    40% {
        opacity: 0.4;
    }

    60% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }
}