<div>
    <h1>My Projects</h1>

    <div class="project-container">
        <div class="project-nav">

            @for (project of projects.projects; track $index) {
            <div (click)="selectProject($index, $event)" [ngClass]="clicked[$index] ? 'clicked' : ''">
                {{ $index + 1 }}. <span>{{ project.name }}</span>
            </div>
            }
        </div>
        <div class="project-detail">

            <div class="project-links-mobile" #projectLinks>
                <a href="{{ projects.projectLink }}" target="_blank">Live Test</a>
                <a href="{{ projects.projectGithub }}" target="_blank">GitHub</a>
            </div>

            <div class="description">
                <h3><img src="./assets/Images/EllipseSmall.png"> About the Project
                    @if ( projects.projectDuration) {
                    <p> Duration: {{ projects.projectDuration }}</p>
                    }
                </h3>
                <p>{{ projects.projectDescription }} </p>
                @if (projects.projectLearnProcess) {
                <h3><img src="./assets/Images/EllipseSmall.png">How I have organised my work process</h3>
                <p> {{ projects.projectLearnProcess}} </p>
                <h3><img src="./assets/Images/EllipseSmall.png">{{ projects.projectHeading }}</h3>
                <p> {{ projects.projectDetails }}</p>
                }
            </div>
            <div class="project-optics">
                <div>
                    <span #techTitle>Technologies</span>
                    <div #techIcons>
                        @for (img of projects.projectTechnologies; track projects.projectImage) {
                        <img src="./assets/Images/{{ img }}.png">
                        }
                    </div>
                </div>

                <img id="projScreen" #projScreen src="{{ projects.projectImage }}">

                <div class="project-links" #projectLinks>
                    <a href="{{ projects.projectLink }}" target="_blank">Live Test</a>
                    <a href="{{ projects.projectGithub }}" target="_blank">GitHub</a>
                </div>
            </div>

            <div class="mobile-version">
                <span>
                    {{ projects.projectName }}
                </span>
                <p>Technologies: {{ projects.projectTechnologies }}</p>
                <p>Duration: {{ projects.projectDuration }}</p>
            </div>
        </div>

    </div>

</div>