<div>
    <h1>My Projects</h1>

    <div class="project-container">
        <div class="project-nav">
            <a href="">1. Join</a>
            <a href="">2. El-Pollo-Loco</a>
            <a href="">3. Pokemon</a>
            <a href="">4. Ongoing Project</a>
        </div>
        <div class="project-detail">
            <div class="description">
                <h3><img src="./assets/Images/EllipseSmall.png"> About the Project <p> Duration: 2 months</p>
                </h3>
                <p>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                    assign users and categories.
                </p>
                <h3><img src="./assets/Images/EllipseSmall.png">How I have organised my work process</h3>
                <p>How do you keep your code clean and maintainable? Have you broken the project
                    down into reusable modules or components? Focus on documentation, naming files,
                    variables, classes and testing.
                </p>
                <h3><img src="./assets/Images/EllipseSmall.png">My group work experience</h3>
                <p>Our team consisted of [X] people, and my role was [your role]. I was responsible for
                    [briefly describe your tasks]. We worked closely together, ensuring great teamwork
                    and smooth cooperation, which made the project both efficient and enjoyable.</p>
            </div>
            <div class="project-optics">
                <div>
                    <span>Technologies</span>
                    <div>
                        <img src="./assets/Images/HTML.png">
                        <img src="./assets/Images/JavaScript.png">
                        <img src="./assets/Images/CSS.png">
                    </div>
                </div>

                <img src="./assets/Images/join.png">

                <div>
                    <a href="">Live Test</a>
                    <a href="">GitHub</a>
                </div>
            </div>
        </div>

    </div>

</div>