
<div>

  @if ( VariableService.deutsch ) {

    <h1>Datenschutzerklärung</h1>

    <span>Letzte Aktualisierung: 27/02/2025</span>
  
    <br>Vielen Dank für den Besuch meines Portfolios. Der Schutz Ihrer persönlichen Daten ist 
    mir wichtig. In dieser Datenschutzerklärung erkläre ich, wie ich personenbezogene Daten erhebe, 
    verwende und schütze, wenn Sie meine Website besuchen.
  
    <span>1. Erhebung von Daten</span>
  
    Ich kann folgende Arten von Daten erfassen und verarbeiten:
  
    <br>Persönliche Informationen (z.B. Name, E-Mail-Adresse), wenn Sie mit mir Kontakt aufnehmen.
  
    <br>Technische Daten (z.B. IP-Adresse, Browsertyp, Nutzungsstatistiken), die durch Cookies und Analysetools erhoben werden.
  
    <span>2. Verwendung der Daten</span>
  
    Ihre Daten können zu folgenden Zwecken genutzt werden:
  
    <br>Zur Beantwortung von Anfragen oder Nachrichten.
  
    <br>Zur Verbesserung der Funktionalität und Sicherheit der Website.
  
    <br>Zur Analyse des Website-Traffics und Optimierung der Benutzererfahrung.
  
    <span>3. Cookies und Tracking-Technologien</span>
  
    Diese Website kann Cookies und ähnliche Technologien verwenden, um Ihre Nutzungserfahrung zu verbessern. <br>
    Sie können Ihre Browsereinstellungen so anpassen, dass Cookies abgelehnt werden.
  
    <span>4. Dienste Dritter</span>
  
    Ich nutze gegebenenfalls Dienste Dritter wie z.B. Google Analytics, um das Verhalten der Besucher besser zu <br>
    verstehen. Diese Dienste verarbeiten Ihre Daten gemäß deren eigener Datenschutzrichtlinien.
  
    <span>5. Datensicherheit</span>
  
    Ich treffe geeignete Sicherheitsmaßnahmen, um Ihre persönlichen Daten vor unbefugtem Zugriff oder <br>
    Missbrauch zu schützen. Beachten Sie jedoch, dass keine Online-Plattform 100% sicher ist.
  
    <span>6.  Ihre Rechte</span>
  
    Sie haben das Recht:
  
    <br>Auskunft über die zu Ihrer Person gespeicherten Daten zu erhalten.
  
    <br>Die Berichtigung oder Löschung Ihrer Daten zu verlangen.
  
    <br>Der Erhebung Ihrer Daten zu widersprechen, soweit dies möglich ist.
  
    <span>7. Änderungen dieser Datenschutzerklärung</span>
  
    Diese Datenschutzerklärung kann gelegentlich aktualisiert werden. Änderungen werden auf dieser <br>
    Seite mit dem entsprechenden Datum veröffentlicht.

    <span>8. Kontakt</span>
  
    Bei Fragen zur Datenschutzerklärung können Sie mich gerne kontaktieren:
  
    <span>Gagandeep Singh
      <br> tech&commat;gagadeepsingh.de
      <br> gagandeepsingh.de</span>
  
  }
  @else {

  <h1>Privacy Policy</h1>

  <span>Last Updated: 27/02/2025</span>

  <br>Thank you for visiting my portfolio. Your privacy is important to me. This Privacy Policy explains how <br> I
  collect, use, and protect any personal information you provide while visiting my website.

  <span>1. Information I Collect</span>

  I may collect and process the following types of data:

  <br>Personal Information (e.g., name, email address) when you contact me.

  <br>Technical Data (e.g., IP address, browser type, and usage statistics) collected via cookies and analytics tools.

  <span>2. How I Use Your Information</span>

  Your information may be used for the following purposes:

  <br>To respond to inquiries or messages you send me.

  <br>To improve the functionality and security of this website.

  <br>To analyze website traffic and optimize user experience.

  <span>3. Cookies and Tracking Technologies</span>

  This website may use cookies and similar tracking technologies to enhance your browsing experience. <br> You can
  modify your browser settings to refuse cookies if you prefer.

  <span>4. Third-Party Services</span>

  I may use third-party services, such as Google Analytics, to understand visitor behavior. These services may <br>
  collect and process your data in accordance with their own privacy policies.

  <span>5. Data Security</span>

  I implement appropriate security measures to protect your personal data from unauthorized access or <br> misuse.
  However, no online platform is 100% secure.

  <span>6. Your Rights</span>

  You have the right to:

  <br>Request access to any personal data I hold about you.

  <br>Request correction or deletion of your data.

  <br>Opt-out of any data collection where applicable.

  <span>7. Changes to This Privacy Policy</span>

  I may update this policy from time to time. Any changes will be posted on this page with the updated date.

  <span>8. Contact Me</span>

  If you have any questions about this Privacy Policy, you can contact me at:

  <span>Gagandeep Singh
    <br> tech&commat;gagadeepsingh.de
    <br> gagandeepsingh.de</span>

  }

</div>