body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  scroll-behavior: smooth;
  width: 100%;
}

app-main, app-root, app-about-me, app-project, app-about-me, app-hero-section, app-my-skill, app-references, app-contact {
  background-color: #262e34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

app-nav-bar, app-footer {
  width: 100%;
  background-color: #89BCD9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

app-root {
  width: 100%;
}

app-nav-bar{
  position: sticky;
  top: 0;
  z-index: 1000;
}

.scroll-pos {
  scroll-margin-top: 3.8em;
}

* {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'anta';
  font-size: 3.75rem;
  color: #89BCD9;
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
  opacity: 1 !important;
}

.no-scroll {
  overflow: hidden !important;
}

.scroller {
  Width: 2.37em;
  Height: 5.56em;
  background: url("./assets/Images/Arrowdown.png");
  transition: 0.35s;

  &:hover {
    cursor: pointer;
    background: url("./assets/Images/ArrDwnHvr.png");
  }
}

.self-logo {
  display: flex !important;
  flex-direction: column !important;
  width: 66px;
  height: 73px;
  margin-top: 0px !important;
  font-size: 16px;
  text-align: center;
  cursor: pointer;

  >:nth-child(1) {
    &:hover {
      transform: scaleX(1.2);
      transition: 0.45s;
    }
  }

  >span {
    font-family: 'anta';
  }

  >p {
    font-family: 'josefin sans';
    font-size: 0.875rem;
    margin: 0px;
    color: #89BCD9;
  }

  >sub {
    font-family: 'josefin sans';
    color: #262E34;
  }
}

.apear-from-left {
  animation: from-left 0.4s ease-in forwards;
}


@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-600%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.apear-from-right {
  animation: from-right 0.9s ease-in forwards;
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

app-legal-notice, app-privacy {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.alternate-container {
  max-width: 1920px;
  width: 78%;
  height: 100%;
  font-family: 'Josefin Sans';
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5em;

  >a {
    text-decoration: none;
  }

  >span {
    color: #89BCD9;
    margin: 0.8em;
  }
}

.alternate-container::-webkit-scrollbar {
  display: none;
}

.mo-overlay {
  position: absolute;
  top: 2em;
  justify-content: center !important;
  gap: 1% !important;
}

.mobile-navigator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #89BCD9;
  opacity: 0;
  width: 88%;
  border-radius: 1em;
  height: 8em;
  gap: 6%;
  padding: 1em;

  >a {
    font-family: 'josefin sans';
    color: #262E34;
    text-decoration: none;
    font-size: 26px;

    &:hover {
      cursor: pointer;
      color: #ffffff;
    }
  }
}

/* anta-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anta';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/Fonts/anta-v1-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/Fonts/josefin-sans-v32-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


@media (max-width: 1145px) {

  h1 {
    font-size: 3rem;
  }

}

@media (max-width: 865px) {

  h1 {
    font-size: 2.6rem;
  }

}

@media (max-width: 752px) {

  .alternate-container {
    margin-top: 3em;
    }

  .scroller {
    margin-top: 2em;
  }

.scroll-pos {
  scroll-margin-top: 0;
}

}

@media (max-width: 378px) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-height: 1665px) {
 .alternate-container {
  height: calc(100vh - 16.50em);
 }
}

@media (min-height: 1525px) {
  .legal-notice {
   height: calc(100vh - 16.50em);
  }
 }

@media screen and (min-width: 696px) and (max-width: 752px) {
 .alternate-container {
  height: calc(100vh - 13.50em);
 }
}