body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: #000000;
  max-width: 1440px;
  color: #ffffff;
  scroll-behavior: smooth;
}

app-root {
  width: 100%;
  background-color: #262e34;
}

* {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'anta';
  font-size: 3.75rem;
  color: #89BCD9;
}

.hide{
  display: none!important;
}

.show{
  display: flex!important;
}

.scroller {
  Width: 2.37em;
  Height: 5.56em;
  background: url("./assets/Images/Arrowdown.png");
  transition: 0.35s;

  &:hover {
    cursor: pointer;
    background: url("./assets/Images/ArrDwnHvr.png");
  }
}

.self-logo {
  display: flex !important;
  flex-direction: column !important;
  width: 66px;
  height: 73px;
  margin-top: 0px !important;
  font-size: 16px;
  text-align: center;

  >:nth-child(1) {
    &:hover {
      transform: scaleX(1.2);
      transition: 0.45s;
    }
  }

  >span {
    font-family: 'anta';
  }

  >p {
    font-family: 'josefin sans';
    font-size: 0.875rem;
    margin: 0px;
    color: #89BCD9;
  }

  >sub {
    font-family: 'josefin sans';
    color: #262E34;
  }
}

.apear-from-left {
  animation: from-left 0.4s ease-in forwards;
}


@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-600%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.apear-from-right {
  animation: from-right 0.9s ease-in forwards;
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

app-legal-notice, app-privacy {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* anta-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anta';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/Fonts/anta-v1-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/Fonts/josefin-sans-v32-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


@media (max-width: 1145px) {

  h1 {
    font-size: 3rem;
  }

}

@media (max-width: 865px) {

  h1 {
    font-size: 2.6rem;
  }

}

@media (max-width: 752px) {

  .scroller {
    margin-top: 2em;
  }
}

@media (max-width: 378px) {
  h1 {
    font-size: 2rem;
  }
}